@import './abstracts/reset';

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container {
  position: relative;
  background-color: white;
  min-height: 896px;
  min-width: 480px;
  // padding: 0 2.9444vw 0 2.9444vw;
  // min-width: 100%;
}

@media (max-width: 480px) {
  .container {
    min-width: 100%;
  }
}
