@import './abstracts/reset';

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #f0f0f0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  min-width: 480px; /* PC 환경에서 최소 너비 */
}

.container {
  position: relative;
  background-color: white;
  width: 100%;
  max-width: 480px; /* 모바일에서 최대 너비를 480px로 제한 */
  min-height: 100vh;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* 모바일 레이아웃에서 공백 없이 표시 */
@media (max-width: 480px) {
  body {
    display: block; /* 모바일 환경에서 flex 해제 */
    min-width: 100%; /* 모바일 환경에서 최소 너비 제거 */
  }

  .container {
    width: 100%;
    max-width: 100%; /* 모바일에서 너비가 100%가 되도록 설정 */
    margin: 0; /* 모바일에서 여백 제거 */
  }
}
